.nav {
    display: flex;
    flex-direction: column;
    width: 100%;

    & ul {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: 100%;

        & li {
            display: flex;
            width: 100%;
            list-style-type: none;
            transition: transform 0.3s ease;
            font-size: 1.3rem;
            cursor: pointer;

            & a {
                display: inline-block;
                position: relative;
            }

            .activeLink {
                & span {
                    text-decoration: underline;
                }
            }

            & a::before {
                content: "→";
                position: relative;
                left: 0;
                opacity: 0;
                transition: left 0.3s ease, opacity 0.3s ease;
            }

            &:hover {
                transform: translateX(0.5rem);

                & a::before {
                    left: -0.8rem;
                    opacity: 1;
                }
            }
        }

        .subMenu {
            padding-left: 2rem;
        }
    }
}