.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: var(--header-height);

    position: fixed;
    top: 0;
    left: 0;

    font-size: 1.3rem;
    user-select: none;
    padding: 0 8rem 0 8rem;

    background-color: var(--primary-transparent);
    border-bottom: 1px solid var(--secondary);

    z-index: 15;

    .leftSide {
        display: flex;
        align-items: center;
        gap: 1rem;

    }

    .rightSide {
        display: flex;
        align-items: center;
        gap: 2rem;

        .headerSearchBar {
            width: 30rem;
            min-width: 10rem;
        }
    }


    .logoDiv {
        display: flex;
        align-items: center;
        font-family: Mixal;
        font-size: 3rem;

        gap: 1rem;
    }
}