.tabLinksContainer {
    display: flex;

    .profilePageTabButtons {
        display: flex;
        gap: 2rem;

        .profilePageTabButton {
            background-color: var(--tertiary);
            padding: 0.5rem 3rem;
            min-width: fit-content;

            cursor: pointer;
            font-size: 1.1rem;
        }
    }
}

.pageContentContainer {
    display: flex;
    flex-direction: column;

    width: 80%;

    gap: 3rem;
}