.authorDetailsContentContainer {
    --cover-image-width: 15rem;
    --header-position: 8rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow-x: hidden;

    .bannerImage {
        filter: blur(0.2rem);
    }

    .authorDetailsContentInnerContainer {
        display: flex;
        flex-wrap: wrap;

        margin-top: calc(-1 * var(--header-position));

        width: 80%;
        height: fit-content;

        .authorHeaderContainer {
            display: flex;
            align-items: center;

            width: 100%;
            height: var(--header-position);

            text-align: justify;

            background-color: var(--secondary-transparent);
            box-shadow: rgba(50, 50, 93, 0.20) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

            border-radius: 2rem 2rem 0 0;
            padding: 0.5rem 1rem;

            gap: 1rem;

            .authorHeaderImageContainer {
                display: flex;

                .authorHeaderImage {
                    padding: 1.2rem;
                    height: var(--header-position);
                    width: auto;
                }
            }

            & h2 {
                color: var(--primary-vibrant);
            }
        }

        .authorDetailsContainer {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            margin-top: 3rem;

            gap: 2rem;
        }
    }
}