.historyContainer {
    display: flex;
    flex-direction: column;

    min-height: fit-content;
    height: fit-content;

    gap: 1rem;
    padding: 1rem;

    background-color: var(--primary-vibrant);
    border: 1px solid var(--secondary-vibrant);

    .historyHeaderContainer {
        display: flex;
        justify-content: space-between;

        width: 100%;
    }

    .historyListContainer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 1rem;

        .historyCard {
            display: flex;
            flex-direction: column;
            
            gap: 0.5rem;
            padding: 0.5rem;

            background-color: var(--primary);
            border: 1px solid var(--secondary-vibrant);
        }
    }
}