.searchResultsCardContainer {
    display: flex;
}

.searchResultsContainer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 80%;
}

.noResultsFound {
    display: flex;
    width: 100%;
    font-size: 1.3rem;
}