.pageSelectionContainer {
    display: flex;
    justify-content: center;
    height: 5rem;
    width: 100%;

    gap: 0.5rem;

    padding-bottom: 3rem;

    .pageLink {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 2rem;
        width: 2rem;
        background-color: var(--tertiary);
    }
}