.lastAddedBookSectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: fit-content;
    height: fit-content;
    width: 100%;

    gap: 1rem;
    padding: 1rem;

    .lastAddedBookSectionHeader {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .lastAddedBookSectionContent {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;

        gap: 1rem;
    }
}
