.leftSideBarContainer {
    display: flex;
    flex-direction: column;

    width: 15rem;
    min-width: 13rem;
    height: 40vh;

    padding: 1rem;
    gap: 2rem;

    background-color: var(--primary-vibrant);

    border: 1px solid var(--secondary-vibrant);

    .leftSideBarContainerSection {
        display: flex;
        flex-direction: column;
        width: 100%;

        gap: 0.5rem;

        .link {
            color: #0202b6;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}