.leftSideBarContainer {
    display: flex;
    flex-direction: column;

    width: 14rem;
    min-width: 13rem;
    height: fit-content;
    max-height: 80vh;

    padding: 1rem;
    gap: 2rem;
    font-size: 1.1rem;

    .leftSideBarContainerSection {
        display: flex;
        flex-direction: column;
        width: 100%;

        gap: 0.5rem;
    }
}