.searchBookInputDiv {
    display: flex;
    justify-content: center;

    .searchBookInput {
        background-color: var(--primary-vibrant);
        border: none;
        outline: none;
        padding: 0.3rem;
        width: 85%;
        font-size: 1rem;
    }

    .searchBookButton {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--tertiary);
        border: none;
        border-left: 1px var(--secondary-vibrant) solid;
        padding: 0.3rem;
        width: 15%;

        .searchIcon {
            min-width: 1rem;
        }

        &:hover:not(.buttonDisabled) {
            cursor: pointer;
            transition: ease 0.5s;
            background-color: var(--tertiary-light);
        }
    }

    .disabled {
        pointer-events: none;
        background-color: var(--tertiary-grayed);
    }

    .inputDisabled {
        background-color: var(--primary-grayed);
        pointer-events: none;
    }

    .buttonDisabled {
        background-color: var(--tertiary-grayed);
    }
}
