.bannerContainer {
    display: flex;
    width: calc(100% + 10rem);
    overflow: hidden;
    height: 15rem;

    z-index: -1;

    .bannerImage {
        height: 16rem;
        object-fit: cover;
        width: 100%;
    }
}